{%- set css -%}
  {%- include "style.css" -%}
  {%- if style -%}
    {%- include style -%}
  {%- endif -%}
{%- endset -%}

<style type="text/css">
  {{ css | safe }}
</style>

<script type="module">{% include "index.js" %}</script>

{% if site.environment != "development" %}
  {% include "webpack.njk" %}
{% endif %}
