{% set css %}
  {% include "style.css" %}
  {% if style %}
    {% include style %}
  {% endif %}
{% endset %}

<style type="text/css">
  {{ css | safe }}
</style>

{% if site.environment != "development" %}
  {% include "webpack.njk" %}
{% endif %}
