<form class="calculator margin-bottom-4" name="calculator" method="GET" action="">
  <fieldset>
    <legend>
      {{ filingStatus }}
    </legend>
    <div class="flex-row-center flex-1 flex-grow-1 flex-wrap">
      <div class="radio-input flex-row-center justify-start flex-1 flex-grow-1 min-input-width">
        <input type="radio" name="status" id="statusSingle" value="single" checked />
        <label for="statusSingle" class="flex-grow-1">
          {{ statusSingle }}
        </label>
      </div>
      <div class="radio-input flex-row-center justify-start flex-1 flex-grow-1 min-input-width">
        <input type="radio" name="status" id="statusJoint" value="joint" />
        <label for="statusJoint" class="flex-grow-1">
          {{ statusJoint }}
        </label>
      </div>
    </div>
  </fieldset>
  <div class="number-input flex-column">
    <label class="label-legend" for="income">
      {{ income }}
    </label>
    <input type="text" inputmode="numeric" data-type="currency" name="income" id="income" min="0" placeholder="{{ incomePlaceholder }}" />
  </div>
  <fieldset class="flex-column">
    <legend>
      {{ householdLabel }}
    </legend>
    <div class="margin-bottom-1">
      <div class="flex-row-center flex-wrap">
        <label class="checkbox flex-row-center flex-1 flex-grow-1 min-input-width">
          <input type="checkbox" name="older65" />
          <span tabindex="-1">
            {{ older65 }}
          </span>
        </label>
        <label class="checkbox flex-row-center flex-1 flex-grow-1 min-input-width">
          <input type="checkbox" name="legallyBlind" />
          <span tabindex="-1">
            {{ legallyBlind }}
          </span>
        </label>
      </div>
      <div class="flex-row-center flex-wrap" data-status="joint">
        <label class="checkbox hidden flex-row-center flex-1 flex-grow-1 min-input-width" data-status="joint">
          <input type="checkbox" name="spouseOlder65" />
          <span tabindex="-1">
            {{ spouseOlder65 }}
          </span>
        </label>
        <label class="checkbox hidden flex-row-center flex-1 flex-grow-1 min-input-width" data-status="joint">
          <input type="checkbox" name="spouseLegallyBlind" />
          <span tabindex="-1">
            {{ spouseLegallyBlind }}
          </span>
        </label>
      </div>
    </div>
    <div class="flex-row-start justify-start flex-1 flex-grow-1 flex-wrap">
      <div class="number-input flex-column flex-1 flex-grow-1 min-input-width">
        <label for="numDependents">
          {{ numDependents }}
        </label>
        <input type="text" inputmode="numeric" pattern="[0-9]*" min="0" name="numDependents" id="numDependents" value="0" />
      </div>
      <div class="number-input flex-column flex-1 flex-grow-1 min-input-width">
        <label for="numDependentsUnder17">
          {{ numDependentsUnder17 }}
        </label>
        <input type="text" inputmode="numeric" pattern="[0-9]*" min="0" name="numDependentsUnder17" id="numDependentsUnder17" value="0" />
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>
      {{ deductions }}
    </legend>
    <div class="flex-row-start justify-start flex-1 flex-grow-1 flex-wrap">
      <div class="number-input flex-column flex-1 flex-grow-1 min-input-width">
        <label for="propertyTaxes">
          {{ propertyTaxes }}
        </label>
        <input type="text" inputmode="numeric" data-type="currency" name="propertyTaxes" id="propertyTaxes" min="0" value="$0" />
      </div>
      <div class="number-input flex-column flex-1 flex-grow-1 min-input-width">
        <label for="k12Expenses">
          {{ k12Expenses }}
        </label>
        <input type="text" inputmode="numeric" data-type="currency" name="k12Expenses" id="k12Expenses" min="0" step="1" value="$0" />
        <p class="help">
          {{ k12ExpensesHelp }}
        </p>
      </div>
    </div>
  </fieldset>
</form>
