<form name="calculator" method="GET" action="">
  <fieldset>
    <legend>
      Filing status
    </legend>
    <div class="radio-input">
      <input type="radio" name="status" id="statusSingle" value="single" checked />
      <label for="statusSingle">
        Single
      </label>
    </div>
    <div class="radio-input">
      <input type="radio" name="status" id="statusJoint" value="joint" />
      <label for="statusJoint">
        Joint
      </label>
    </div>
  </fieldset>
  <label class="checkbox">
    <input type="checkbox" name="older65" />
    <span tabindex="-1">
      Older 65?
    </span>
  </label>
  <label class="checkbox hidden" data-status="joint">
    <input type="checkbox" name="spouseOlder65" />
    <span tabindex="-1">
      Spouse older 65?
    </span>
  </label>
  <label class="checkbox">
    <input type="checkbox" name="legallyBlind" />
    <span tabindex="-1">
      Blind?
    </span>
  </label>
  <label class="checkbox hidden" data-status="joint">
    <input type="checkbox" name="spouseLegallyBlind" />
    <span tabindex="-1">
      Spouse blind?
    </span>
  </label>
  <fieldset>
    <legend>Dependents</legend>
    <div class="input-row">
      <div class="number-input">
        <label for="numDependents">
          # Dependents
        </label>
        <input type="text" inputmode="numeric" pattern="[0-9]*" min="0" name="numDependents" id="numDependents" />
      </div>
      <div class="number-input">
        <label for="numDependentsUnder17">
          # Dependents under 17
        </label>
        <input type="text" inputmode="numeric" pattern="[0-9]*" min="0" name="numDependentsUnder17" id="numDependentsUnder17" />
      </div>
    </div>
  </fieldset>
  <div class="number-input">
    <label for="propertyTaxes">
      2018 Property taxes
    </label>
    <input type="text" inputmode="numeric" data-type="currency" name="propertyTaxes" id="propertyTaxes" min="0" />
  </div>
  <div class="number-input">
    <label for="k12Expenses">
      K-12 Expenses
    </label>
    <input type="text" inputmode="numeric" data-type="currency" name="k12Expenses" id="k12Expenses" min="0" step="1" />
  </div>
  <div class="number-input">
    <label for="income">
      Income
    </label>
    <input type="text" inputmode="numeric" data-type="currency" name="income" id="income" min="0" />
  </div>
</form>
