<footer class="banner flex-row-center justify-center">
  <div class="max-content-width flex-grow-1 flex-row-center justify-between flex-wrap">
    <div>
      <p>
        {{ t.createdBy }}
      </p>
    </div>
    <ul class="min-width-100-mobile margin-top-1-5-mobile">
      {% for language in site.languages %}
        {% if language.value != t.locale %}
        <li class="margin-bottom-1">
          <a class="text-color-default underlined text-color-active-blue" href="/{{ language.value }}/{{ (page.url or url) | baseUrl }}">
            {{ language.label }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
      <li class="margin-bottom-1">
        <a class="text-color-default underlined text-color-active-blue" href="/{{ t.locale }}/">{{ t.about }}</a>
      </li>
      {% for link in t.nav %}
      <li class="margin-bottom-1">
        <a class="text-color-default underlined text-color-active-blue" href="{{ link.url }}" {%- if link.url[0] != "/" -%}target="_blank" rel="noopener"{%- endif -%}>{{ link.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</footer>
