<meta charset="utf-8">
<title>{{ title or page.title or redirect.title or site.title }}{% if page.url != "/" and page.url != site.langRoot %} | {{ siteTitle or site.title }}{% endif %}</title>
<meta name="description" content="{{ description or page.description or redirect.title or site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="{{ site.url }}/img/favicon.ico" />

<meta property="og:title" content="{{ title or page.title or site.title }}" />
<meta property="og:type" content="{{ site.type }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ site.url }}{{ image or page.image or site.image }}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:description" content="{{ description or page.description or site.description }}" />
