<nav class="flex-row-center justify-center">
  <div class="nav-contents flex-row-center justify-between flex-grow-1">
    <div>
      <a href="/{{ t.locale }}/">{{ t.home }}</a>
    </div>
    <ul class="flex-row-center">
      {% for language in site.languages %}
        {% if language.value != t.locale %}
        <li>
          <a href="/{{ language.value }}/{{ (page.url or url) | baseUrl }}">
            {{ language.label }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
      {% for link in t.nav %}
      <li>
        <a href="{{ link.url }}" {%- if link.url[0] != "/" -%}target="_blank" rel="noopener"{%- endif -%}>{{ link.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
