---
layout: base
tags: redirect
pagination:
  data: i18n
  size: 1
  alias: t
permalink: "{{ t.locale }}/"
eleventyComputed:
  title: "{{ t.homeTitle }}"
style: landing.css
---
<section class="min-height-80 flex-column justify-center padding-2 padding-top-bottom-4 relative">
  <div class="flex-row-center justify-center">
    <div class="max-width flex-grow-1 relative flex-row-center justify-start">
      <div class="relative flex-row-center flex-wrap">
        <div class="min-height-12">
          <h1 class="margin-0 font-size-3 font-size-2-5-mobile line-height-1-25">
            {{ t.voteYesFor }} <span class="visually-hidden">{%- for category in t.voteYesForCategories -%}{{ category }}{% if not loop.last %}, {% endif %}{%- endfor -%}</span>
          </h1>
        </div>
        <div class="flex-grow-1 font-size-3 font-size-2-5-mobile bold line-height-1-25 margin-left-2-5-desktop min-height-12 min-width-100-mobile relative" aria-hidden="true">
          {% for category in t.voteYesForCategories %}
          <span class="rotate-text">{{ category }}</span>
          {% endfor %}
        </div>
      </div>
      {% include "illinois.svg" %}
    </div>
  </div>
</section>

<section class="banner flex-row-center justify-center bg-teal-lighter">
  <div class="max-content-width flex-row-center flex-grow-1 content">
    <div class="min-width-12 width-12 margin-right-3">
      {% include "calculator.svg" %}
    </div>
    <h2 class="margin-0 font-size-1">
      {{ t.calculatorCta | safe }}
    </h2>
  </div>
</section>

<section class="banner flex-row-center justify-center">
  <div class="max-content-width flex-grow-1 content">
    {% for section in collections.landing %}
      {% if section.data.locale == t.locale and section.fileSlug == "about-section" %}
        {{ section.templateContent | safe }}
      {% endif %}
    {% endfor %}
  </div>
</section>

<section class="banner flex-row-center justify-center bg-orange">
  <div class="max-content-width flex-grow-1 flex-row-center flex-wrap-mobile justify-between justify-center-mobile">
    <div class="bold margin-bottom-4-mobile">
      <p>{{ t.faqCta }}</p>
    </div>
    <div class="text-center margin-left-4-desktop">
      <a class="button button-outline padding-2 padding-left-right-4 font-size-1-5 inline-block nowrap border-radius-1" href="/{{ t.locale }}/faqs/">
        {{ t.fairTaxFAQs }}
      </a>
    </div>
  </div>
</section>

<section class="banner flex-row-center justify-center">
  <div class="max-content-width flex-grow-1">
    <h2>Join us</h2>
    <div class="text-center">
      <a class="button padding-2 padding-left-right-4 font-size-1-5 inline-block border-radius-1" href="{{ t.getInvolvedUrl }}" target="_blank" rel="noopener">
        {{ t.getInvolved }}
      </a>
    </div>
  </div>
</section>
