---
permalink: /robots.txt
layout: null
eleventyExcludeFromCollections: true
---
{% if site.environment == 'production' %}
User-agent: *
Allow: /
Sitemap: {{ site.baseurl }}/sitemap.xml
{% else %}
User-agent: *
Disallow: /
{% endif %}
