---
permalink: /robots.txt
layout: null
eleventyExcludeFromCollections: true
---
User-agent: *
Disallow: /
{# 
TODO: Reenable
{% if site.environment == 'production' %}
User-agent: *
Allow: /
Sitemap: {{ site.baseurl }}/sitemap.xml
{% else %}
User-agent: *
Disallow: /
{% endif %}
#}
