:root {
  --results-display: none;
  --current-tax-pct: 0%;
  --fair-tax-pct: 0%;
  --income-pct: 100%;
}

fieldset {
  display: flex;
}

/* Hack for IE 11 fieldset styles */
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  fieldset {
    display: block !important;
  }
}

input {
  background-color: var(--white);
  border: var(--border);
}

input:hover {
  border-color: var(--blue);
}

input:active,
input:focus {
  box-shadow: 0 0 1px 1px var(--blue);
}

input[type="text"] {
  appearance: none;
  min-height: var(--grid-6);
  padding: var(--grid-05) var(--grid);
}

input[type="checkbox"] {
  appearance: none;
  width: var(--grid-5);
  min-width: var(--grid-5);
  height: var(--grid-5);
  margin: 0;
  border: var(--border);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked::after {
  content: "\2714\fe0e";
  font-size: var(--grid-4);
  color: var(--blue);
  border-width: 0;
  text-align: center;
}

input[type="checkbox"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:hover {
  z-index: 1;
  outline: none;
  cursor: pointer;
}

input[disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled] {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.5;
}

legend,
.label-legend,
.number-input .label-legend {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: var(--grid);
  margin-top: var(--grid-05);
}

.number-input label {
  margin-bottom: var(--grid-05);
}

fieldset,
label.checkbox,
.number-input {
  margin-bottom: var(--grid-2);
}

label.checkbox,
input[type="radio"],
.radio-input label {
  cursor: pointer;
  font-weight: normal;
}

label.checkbox:hover input {
  border-color: var(--blue);
}

label.checkbox input {
  margin-right: var(--grid);
}

.radio-input {
  margin-right: var(--grid-3);
  min-height: var(--grid-6);
}

.radio-input input {
  margin-left: 0;
  margin-right: var(--grid);
}

@media screen and (min-width: 650px) {
  fieldset .number-input {
    margin: 0 var(--grid);
  }
  fieldset .number-input:first-of-type {
    margin-left: 0;
  }
  fieldset .number-input:last-of-type {
    margin-right: 0;
  }
}

#calculator-results {
  display: var(--results-display);
}

.income-chart {
  display: var(--results-display);
  position: relative;
  width: 100%;
}

.income-chart-heading {
  display: var(--results-display);
}

.income-chart-bar {
  background-color: var(--teal);
  transition: all 0.5s ease-in-out;
}

.current-tax-width {
  width: var(--current-tax-pct);
  max-width: var(--current-tax-pct);
}

.fair-tax-width {
  width: var(--fair-tax-pct);
  max-width: var(--fair-tax-pct);
}

.income-width {
  width: var(--income-pct);
  min-width: var(--income-pct);
}

.help {
  font-size: 14px;
  margin-top: var(--grid-05);
  opacity: 0.8;
}

form.calculator {
  border: solid var(--grid-05) var(--text-color);
  padding: var(--grid-3);
}

@media screen and (max-width: 650px) {
  form.calculator {
    border-width: 0;
    padding: 0;
  }
}
