main {
  max-width: 100%;
  padding: 0;
}

.rotate-text {
  position: absolute;
  font-weight: 800;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  white-space: nowrap;
  animation: rotate-text-up 17.5s;
  animation-iteration-count: infinite;
}

.rotate-text:nth-child(1) {
  animation-delay: 0s;
}
.rotate-text:nth-child(2) {
  animation-delay: 3.5s;
}
.rotate-text:nth-child(3) {
  animation-delay: 7s;
}
.rotate-text:nth-child(4) {
  animation-delay: 10.5s;
}
.rotate-text:nth-child(5) {
  animation-delay: 14s;
}

@keyframes rotate-text-up {
  0% {
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  2%,
  20% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  22%,
  100% {
    transform: translate3d(0, -1em, 0);
    opacity: 0;
  }
}

.button {
  background-color: var(--text-color);
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
}

.button:hover {
  text-decoration: underline;
}

.button-outline {
  background-color: var(--white);
  color: var(--text-color);
  border: solid var(--grid-05) var(--text-color);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-teal {
  background-color: var(--teal);
}

.bg-teal-lighter {
  background-color: var(--teal-lighter);
}

.overflow-hidden {
  overflow: hidden;
}

#calculator-icon {
  width: 100%;
}

#il-svg {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
  height: calc(var(--grid) * 72);
}

#il-svg path {
  fill: var(--blue);
  opacity: 0.2;
}
