@import "reset.css";

:root {
  --blue: #0052af;
  --teal: #09afb0;
  --teal-light: rgba(9, 175, 176, 0.6);
  --teal-lighter: rgba(9, 175, 176, 0.4);
  --orange: #ffead2;
  --white: #fff;
  --gray: #ccc;
  --light-gray: #f1f1f1;
  --text-color: #2c2e35;
  --border: solid 1px var(--gray);
  --box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  --sans-serif: BlinkMacSystemFont, -apple-system, "Helvetica Neue", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica", "Arial", sans-serif;
  --grid: 6px;
  --grid-05: 3px;
  --grid-1-5: 9px;
  --grid-2: 12px;
  --grid-2-5: 15px;
  --grid-3: 18px;
  --grid-4: 24px;
  --grid-5: 30px;
  --grid-6: 36px;
  --grid-7: 42px;
  --grid-12: 72px;
  --grid-20: 120px;
  --grid-80: 480px;
  --font-size: 18px;
  --font-size-1-5: 26px;
  --font-size-2: 36px;
  --font-size-2-5: 45px;
  --font-size-3: 54px;
  --nav-height: 60px;
  --max-nav-width: 1024px;
  --max-width: 1024px;
  --max-content-width: 720px;
  --min-input-width: 300px;
}

html,
body {
  background-color: var(--white);
  font-family: var(--sans-serif);
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  color: var(--text-color);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  line-height: 1.25;
}

h1 {
  font-size: var(--font-size-2);
  margin-bottom: var(--grid-5);
}

h2 {
  font-size: var(--font-size-1-5);
  margin-bottom: var(--grid-3);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  text-decoration: underline;
}

blockquote {
  border-left: solid var(--grid) var(--gray);
  padding-left: var(--grid-4);
  opacity: 0.7;
}

header {
  background-color: var(--blue);
  color: var(--white);
  padding: var(--grid-3);
  min-height: var(--nav-height);
  font-weight: bold;
  box-shadow: var(--box-shadow);
}

header .nav-contents {
  max-width: var(--max-nav-width);
}

header a {
  color: var(--white);
}

nav ul,
footer ul {
  list-style: none;
}

footer ul {
  padding-left: 0;
}

nav ul li {
  margin-right: var(--grid-3);
}

nav ul li:last-child {
  margin-right: 0;
}

main {
  min-height: calc(100vh - var(--nav-height));
  max-width: var(--max-content-width);
  padding: var(--grid-4) var(--grid-2);
  margin: auto;
}

footer {
  background-color: var(--light-gray);
  padding: var(--grid-2);
  min-height: 120px;
}

.content p:not(:last-child) {
  margin-bottom: var(--grid-2);
}

.content a {
  text-decoration: underline;
}

.content a:hover,
.content a:focus,
.content a:active {
  color: var(--text-color);
}

.banner {
  width: 100%;
  padding: var(--grid-6) var(--grid-2);
}

#nav-toggle {
  cursor: pointer;
  display: none;
  text-align: right;
  appearance: none;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-width: 0;
  box-sizing: border-box;
  color: var(--white);
  padding: 0;
  margin: 0;
}

#nav-toggle [aria-hidden="true"] {
  margin-left: var(--grid-05);
}

#nav-menu {
  padding-left: 0;
}

/* UTILITY CLASSES */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden-focusable:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.relative {
  position: relative;
}

.hidden {
  display: none !important;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.text-color-default {
  color: var(--text-color);
}

.underlined {
  text-decoration: underline;
}

.text-color-active-blue:active,
.text-color-active-blue:focus,
.text-color-active-blue:hover {
  color: var(--blue);
}

.text-color-active-black:active,
.text-color-active-black:focus,
.text-color-active-black:hover {
  color: var(--blue);
}

.border-radius-1 {
  border-radius: var(--grid);
}

.padding-1 {
  padding: var(--grid);
}

.padding-2 {
  padding: var(--grid-2);
}

.padding-top-3 {
  padding-top: var(--grid-3);
}

.padding-bottom-3 {
  padding-bottom: var(--grid-3);
}

.padding-left-right-4 {
  padding-left: var(--grid-4);
  padding-right: var(--grid-4);
}

.margin-0 {
  margin: 0;
}

.margin-top-6 {
  margin-top: var(--grid-6);
}

.margin-bottom-1 {
  margin-bottom: var(--grid);
}

.margin-bottom-1-5 {
  margin-bottom: var(--grid-1-5);
}

.margin-bottom-4,
ul.margin-bottom-4 {
  margin-bottom: var(--grid-4);
}

.margin-bottom-6 {
  margin-bottom: var(--grid-6);
}

.margin-right-3 {
  margin-right: var(--grid-3);
}

.bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.font-size-1 {
  font-size: var(--font-size);
}

.font-size-1-5 {
  font-size: var(--font-size-1-5);
}

.font-size-2 {
  font-size: var(--font-size-2);
}

.font-size-3 {
  font-size: var(--font-size-3);
}

.line-height-1-25 {
  line-height: 1.25;
}

.block {
  display: block;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.height-6 {
  height: var(--grid-6);
}

.min-height-6 {
  min-height: var(--grid-6);
}

.min-height-12 {
  min-height: var(--grid-12);
}

.min-height-80 {
  min-height: var(--grid-80);
}

.max-width {
  max-width: var(--max-width);
}

.max-content-width {
  max-width: var(--max-content-width);
}

.width-12 {
  width: var(--grid-12);
}

.min-width-12 {
  min-width: var(--grid-12);
}

.min-width-20 {
  min-width: var(--grid-20);
}

.min-input-width {
  min-width: var(--min-input-width);
}

@media screen and (min-width: 750px) {
  .margin-left-2-5-desktop {
    margin-left: var(--grid-2-5);
  }
  .margin-left-4-desktop {
    margin-left: var(--grid-4);
  }
}

@media screen and (max-width: 750px) {
  .flex-wrap-mobile {
    flex-wrap: wrap;
  }
  .margin-top-1-5-mobile,
  ul[class].margin-top-1-5-mobile {
    margin-top: var(--grid-1-5);
  }
  .margin-bottom-4-mobile {
    margin-bottom: var(--grid-4);
  }
  .justify-center-mobile {
    justify-content: center;
  }
  .font-size-2-5-mobile {
    font-size: var(--font-size-2-5);
  }
  .min-width-100-mobile {
    min-width: 100%;
  }
  #nav-toggle {
    display: flex;
  }
  #nav-toggle[aria-expanded="false"] + #nav-menu {
    display: none;
  }
  #nav-menu {
    margin-top: var(--grid);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  nav ul li {
    margin-right: 0;
    text-align: right;
  }
}

/* Hack for IE 11-only styles */
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  main {
    display: flex;
    flex-direction: column;
  }
  header .nav-contents,
  main,
  .max-width,
  .max-content-width {
    width: 100%;
  }
  .min-height-80 {
    height: 0;
  }
}
