<!DOCTYPE html>
<html lang="{{ site.lang }}" {{ htmlprops | safe }}>
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    {% include "nav.njk" %}
    <main class="{{ mainClass }}">
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
