---
layout: base
eleventyComputed:
  title: "{{ calculatorTitle }}"
style: calculator.css
---
<h1>{{ calculatorTitle }}</h1>

<div class="content margin-bottom-4">
  <p>
    {{ calculatorDescription }}
  </p>
</div>

{% include "calculator.njk" %}

{% include "calculator-results.njk" %}

<script type="module">{% include "calculator.js" %}</script>
