<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <link rel="canonical" href="{{ site.baseurl }}{{ url }}" />
    <meta http-equiv="Refresh" content="0; url='{{ site.baseurl }}{{ url }}'" />
    {% include "head.njk" %}
  </head>
  <body>
  {# TODO: Should a basic h1 and content be included here? #}
  </body>
</html>
